table{
    border:3px solid black;
}
th{
    border:2px solid black;
}
td{
    border:1px solid black;
}
#nava {
    position: absolute;
    left: 500px;
    width: 200px;
    height: 200px;
    top: 50px;
    background-color: red;
    overflow-y: scroll;
}

input.ng
